---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Resume - winterjung blog" description="winterjung의 이력서">
  <a href="/2023-en-resume.pdf">
    <h2>English Resume</h2>
    <img src="/images/2023-en-resume.png" alt="2023 english resume preview" />
  </a>
  <a href="/2023-ko-resume.pdf">
    <h2>한국어 이력서</h2>
    <img src="/images/2023-ko-resume.png" alt="2023 korean resume preview" />
  </a>
</BaseLayout>

<style>
  a {
    text-decoration: none;
  }

  a:hover h2 {
    text-decoration: underline;
  }

  img {
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: 1px solid var(--color-border);
    border-radius: 4px;
  }
</style>
