name: ci

on:
  - push

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - run: npm ci
      - run: npm run build

  deploy:
    # debugging을 위해 잠시 비활성화
    # if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - run: npm ci
      - run: npm run build
      - name: Push to gh-pages
        working-directory: public
        run: |
          cp ../CNAME ./
          git init
          git config user.name $GITHUB_ACTOR
          git config user.email $GITHUB_ACTOR@users.noreply.github.com
          git add .
          git commit -m "Deploy blog for $GITHUB_SHA"
          git push -f https://$GITHUB_TOKEN@github.com/$GITHUB_REPOSITORY.git master:gh-pages
